<body class="">
<span class="preheader">Confirm your email for My Plan To Win.</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">
                    <tr><img src="http://staging-plan-to-win.herokuapp.com/My_Plan_to_Win_Email.png"></tr>
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>

                                        <p>Dear Friend,</p>

                                        <p>Congratulations - you've just made your Plan to Win!</p>

                                        <p>This is the most important period of the campaign, and by doing three things a day between now and polling day,
                                            <b>you're going to help Labour win</b>.</p>

                                        <p>We just need you to confirm your email, and then you'll be able to share your plan on social media.
                                            <b>Click below to confirm your email now!</b></p><p>👇</p>

                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                            <tbody>
                                            <tr>
                                                <td align="left">
                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td> <a style='color: black;' class='speciallink' href="$SITE_URL$/sign-in/$one_time_code$" target="_blank">CONFIRM YOUR EMAIL</a> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <p><b>Sharing your plan on social media is key to getting your friends and followers to make their own plans</b>. To share your plan, use this uniqure URL here:</p>
										<div class='linkbox' style="text-align: center; padding: 10px; border-radius: 3px; background: #FAFAFA; color: blue; font-family: monospace; overflow: hidden; text-overflow: ellipsis; whitespace: no-wrap; margin: 1em 0;">
											$SITE_URL$/plans/$public_key$
										</div>

                                        <p><b>Want to add or change your plan?</b> No problem - just head to <a href="$SITE_URL$/create">myplantowin2019.com/create</a>.</p>
                                        <p>These coming days are going to be some of the most important of our lives. Let’s do this!</p>
                                        <p>In Solidarity,</p>
                                        <p>Team Momentum</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                <div class="footer">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                <span class="apple-link">Momentum</span>
                                <br> Don"t like these emails? <a href="$SITE_URL$/unsubscribe/$id$">Unsubscribe</a>.
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
