<body class="">
<span class="preheader">Your polling day information</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">
                    <tr><img src="https://i.imgur.com/KB3ip2C.png"></tr>
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>Dear $firstName$,</p>
                                        <div style='font-weight: bold;font-size: 1.5em;'>It's polling day! You are going to $constituency$ 🗳 ️</div>
                                        <p></p>
                                        <p>To win this election for Labour, we need to ensure maximum voter turnout!</p>
                                        <p>If you haven’t heard directly from an organiser in <b>$constituency$</b> (the marginal you’ve
                                            signed up to head to for polling day) please head to the address detailed below:</p>
										<div>
											<div style='font-weight: bold;'>Your campaign centre</div>
											<div style='font-size: 1.5em;'>$address$</div>
											<div style='font-size: 1.5em; margin-top: 0.3em;'>Open from <b>$start_time$</b></div>
										</div>

										$whatsappHTML$

                                        <div style='margin: 1em auto; text-align: center;'>
                                            <a href='http://bit.ly/GOTVChecklist' style='display: inline-block; padding: 12px; background: #E20613; display: inline-block; border-radius: 4px; color: white; text-decoration: none; text-align: center; margin: 0 auto; font-weight: bold; font-size: 1.2em; margin: 0 auto;'>Read the Polling Day Activist Handbook 🎓</a>
										</div>

                                        <p>It's vital to share this amongst your friends so we can ensure key marginals are all covered.</p>
                                        <div style='width: 100%; text-align: center;'>
                                            <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmycampaignmap.com" target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-facebook.png" alt="Facebook share icon"></a>
                                            <a href="https://twitter.com/intent/tweet/?text=I'm%20getting%20out%20the%20vote%20in%20$constituency$.%20If%20you%20want%20to%20stop%20Boris%20come%20and%20join%20me!&url=https%3A%2F%2Fmycampaignmap.com" target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-twitter.png" alt="Twitter share icon"></a>
                                            <a href="mailto:?subject=I'm%20getting%20out%20the%20vote%20in%20$constituency$.&body=I'm%20getting%20out%20the%20vote%20in%20$constituency$.%20If%20you%20want%20to%20stop%20Boris%20come%20and%20join%20me!%0A%0Ahttps%3A%2F%2Fmycampaignmap.com" target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-email.png" alt="Email share icon"></a>
                                        </div>
<p></p>
                                        <p>The time between now and the closing of the polls is the most crucial of our whole campaign. Everything has been building up to this. We need hundreds of activists in every city, town and village across the country to help get out the Labour vote.</p>
                                        <p>Labour is surging. The polls have tightened. Together, we can win this.</p>
                                        <p>In solidarity,</p>
                                        <p>Team Momentum</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
