<body class="">
<span class="preheader">Your suggested polling day marginal</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">
                    <tr><img src="https://i.imgur.com/KB3ip2C.png"></tr>
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>Dear $firstName$,</p>
                                        <h2>🗳THANKS SO MUCH FOR PLEDGING TO GO OUT ON POLLING DAY!🗳️</h2>
                                        <p>The 12th of December and the few days before, are the most important period in our campaign. We need hundreds of activists in every city, town and village across the country to help Get Out The Vote (GOTV) for Labour.</p>
                                        <p>All our hard-work has been building up to this crucial part of the campaign. To win this election for Labour, we need to ensure maximum voter turnout!</p>
                                        <p>That means having an even distribution of boots on the ground in every marginal. <b>By going to $constituencyName$ you will be heading to a marginal seat that needs you most.</b></p>
                                        <p style='font-size: 1.3em;'><b>On the day, most campaign offices will be open between 7am and 10pm, and you'll be able to find your address on <a href='https://mycampaignmap.com'>MyCampaignMap.com</a> at the time.</b></p>
                                        <p>To help you have the greatest possible impact in $constituencyName$ on polling day, we’ve created this GOTV Checklist for you: <a href='http://bit.ly/GOTVChecklist'>bit.ly/GOTVChecklist</a>
                                        </p>
                                        <div style=' margin: 1em 0;'>
                                            <a href='http://bit.ly/GOTVChecklist' style='padding: 20px; background: red; display: inline-block; border-radius: 4px; color: black; font-weight: bold; font-size: 1.2em; margin: 0 auto;'>POLLING DAY ACTIVIST HANDBOOK</a></div>
                                        <p>It's vital to share this amongst your friends so we can ensure key marginals are all covered.</p>
                                        <div style='max-width: 100%;'>
                                            <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmypollingday.com" target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-facebook.png" alt="Facebook share icon"></a>
                                            <a href="https://twitter.com/intent/tweet/?text=I'm%20taking%20polling%20day%20off%20work%20for%20Labour,%20in%20a%20key%20marginal%20getting%20out%20the%20vote.%20Find%20where%20YOU%20need%20to%20go%20to%20make%20the%20most%20impact.&amp;url=https%3A%2F%2Fmypollingday.com" target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-twitter.png" alt="Twitter share icon"></a>
                                            <a href="mailto:?subject=I'm%20taking%20polling%20day%20off%20work%20for%20Labour.&amp;body=I'm%20taking%20polling%20day%20off%20work%20for%20Labour%20in%20a%20key%20marginal%20getting%20out%20the%20vote.%20Find%20where%20YOU%20need%20to%20go%20to%20make%20the%20most%20impact.%0A%0Ahttps%3A%2F%2Fmypollingday.com" target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-email.png" alt="Email share icon"></a>
                                        </div>
                                        <h3>Check out these other resources too👇👇👇</h3>
                                        <div style=' margin: 1em 0;'>
                                            <a href='https://www.tickettailor.com/events/momentum2' style='padding: 20px; background: red; display: inline-block; border-radius: 4px; color: black; font-weight: bold; font-size: 1.2em; margin: 0 auto;'>BOOK COACH TICKETS 🚌</a>
                                            <p style='margin-top: 0.5em; font-size: 1.2em;'><i>Momentum is putting on buses to key marginals.</i></p>
                                        </div>
                                        <div style=' margin: 1em 0;'>
                                            <a href='https://docs.google.com/document/d/19gbphQ1pniF_7z94ZHnLL-d9TysWW0F5SmJRS2Kyl_c' style='padding: 20px; background: red; display: inline-block; border-radius: 4px; color: black; font-weight: bold; font-size: 1.2em; margin: 0 auto;'>SOCIALIST SOFAS 🛌</a>
                                            <p style='margin-top: 0.5em; font-size: 1.2em;'><i>Labour activists in key marginals want to host you overnight on polling day!</i></p>
                                        </div>
                                        <div style=' margin: 1em 0;'>
                                            <a href='http://bit.ly/GOTVChecklist' style='padding: 20px; background: red; display: inline-block; border-radius: 4px; color: black; font-weight: bold; font-size: 1.2em; margin: 0 auto;'>CANVASSING RESOURCES 🎓</a>
                                            <p style='margin-top: 0.5em; font-size: 1.2em;'><i>Momentum is putting on buses to key marginals.</i></p>
                                        </div>
                                        <p>Labour is surging. The polls are tightening. Together, we can win this.</p>
                                        <p>In solidarity,</p>
                                        <p>Team Momentum</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
