<body class="">
<span class="preheader">$preheader$</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">
                    <tr><img src="http://staging-plan-to-win.herokuapp.com/$banner$.png"></tr>
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <h1><b><em>$subjectUpperCase$</em></b></h1>
                                        <p>This is it. We have a once-in-a-generation opportunity to transform Britain for the many.</p>
                                        <p>You’ve signed up to do $activityCountText$ today – you’re a legend!</p>
                                        <p>You’ve committed to do the following:</p>

                                        $quests$

                                        <p><b>Share your plan</b></p>
                                        <p>Have you shared your Plan to Win? <b>Sharing is crucial</b> to make sure as many people plan their time our as possible.
                                            Use this unique plan URL:</p>
                                        <div class='linkbox' style="text-align: center; padding: 10px; border-radius: 3px; background: #FAFAFA; color: blue; font-family: monospace; overflow: hidden; text-overflow: ellipsis; whitespace: no-wrap; margin: 1em 0;">
                                            $SITE_URL$/plans/$public_key$
                                        </div>
                                        <div style='max-width: 100%;'>
                                            <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmyplantowin2019.com/plans/$public_key$"
                                               target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-facebook.png" alt="Facebook share icon"></a>
                                            <a href="https://twitter.com/intent/tweet/?text=I've%20planned%20how%20I'm%20going%20to%20help%20Labour%20win%20the%20election.%20Have%20a%20look%20and%20then%20make%20your%20own%20plan.&amp;url=https%3A%2F%2Fmyplantowin2019.com/plans/$public_key$"
                                               target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-twitter.png" alt="Twitter share icon"></a>
                                            <a href="mailto:?subject=I've%20planned%20how%20I'm%20going%20to%20help%20Labour%20win%20the%20election&amp;body=Have%20a%20look%20and%20then%20make%20your%20own%20plan..%0A%0Ahttps%3A%2F%2Fmyplantowin2019.com/plans/$public_key$"
                                               target="_blank" rel="noopener noreferrer" ><img style='max-width: 60px; margin-right: 10px;' src="http://staging-plan-to-win.herokuapp.com/red-email.png" alt="Email share icon"></a>
                                        </div>
                                        <p>Every day before the election is absolutely crucial now. You’re joining an incredible $usersCount$ people who are carrying out their Plan to Win across the country.</p>
                                        <p>Every one of us is a part of this incredible mass movement that is going to transform our society for the many.</p>
                                        <p>You’re making history – good luck!</p>
                                        <p>In Solidarity,<br />
                                            Team Momentum</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                <div class="footer">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                <span class="apple-link">Momentum</span>
                                <br> Don"t like these emails? <a href="$SITE_URL$/unsubscribe/$id$>">Unsubscribe</a>.
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
